.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Whether you use PnP or not, the node_modules folder is often used to store
# build artifacts that should be gitignored
node_modules

# Swap the comments on the following lines if you wish to use zero-installs
# In that case, don't forget to run `yarn config set enableGlobalCache false`!
# Documentation here: https://yarnpkg.com/features/caching#zero-installs

#!.yarn/cache
.pnp.*
/.env
/src/playground/pdf_screenshot/output/
/src/playground/pdf_to_json/output/
/src/playground/pdf_to_json/✨ Golden Rules ✨ 2024 ✨_output/
/.idea/
/dist/
/concatenated.txt
/src/examples/callback-tracing/logs/
/src/examples/custom-events/logs/
/src/examples/tracing/callback-tracing/logs/
/src/examples/tracing/custom-events/logs/
/src/examples/tracing/complex-graph-tracing/logs/
